@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-weight: 400;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:
		'head head'
		'body side'
		'foot foot';
}

li, a {
	font-size: 16px;
	color: #eee;
	text-decoration: none;
}

header {
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 5%;
	padding: 10px;
	grid-area: head;
	border-radius: 20px;
	margin-bottom: 20px;
}

button {
	padding: 10px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 300ms ease;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

main {
	text-align: center;
	grid-area: body;
}

aside {
	text-align: center;
	grid-area: side;
	background-color: rgba(255, 255, 255, 0.1);
}

aside > h2 {
	margin: 10px;
}

iframe {
	width: 100%;
	height: 100%;
}

table, th, td {
	border: 1px solid;
	padding: 5px;
	position: relative;
}

td > img {
	width: 90px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.hasimg-td {
	padding: 40px;
}

.episode {
	height: 400px;
	background-color: rgba(255, 255, 255, 0.1);
}

.episode > p {
	padding: 8px;
	font-size: 16px;
}

.nav-links {
	list-style: none;
}

.nav-links > li {
	display: inline-block;
	padding: 0 20px;
}

.nav-links > li > a {
	font-size: 20px;
	transition: all 300ms ease;
}

.nav-links > li > a:hover {
	color: #0088a9;
}

#headimg {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

#headimg > img, #headimg > h4 {
	width: 165px;
	display: inline-block;
}

#headimg > h4 {
	font-size: 1.45rem;
	width: 145px;
}

footer {
	grid-area: foot;
}

.foot-text {
	text-align: center;
	margin: 5px;
}

@media (max-width: 720px) {
	body {
		grid-template-areas:
			'head head'
			'body body'
			'side side'
			'foot foot';
	}

	aside {
		background: #000;
	}
}





/* 
CAROSUEL CSS CODE
OK?
*/

.carousel {
	position: relative;
	height: 600px;
	width: 80%;
	margin: 0 auto;
}

.carousel-slide > div {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.carousel-slide > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-color: rgba(0, 0, 0, 0.25);
	font-size: 22.5px;
	padding: 10px;
	border-radius: 10px;
	z-index: 2;
}

.caro-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.carousel-track-container {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.carousel-track {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 100%;
	position: relative;
	transition: transform 500ms ease;
}

.carousel-slide {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.carousel-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	background: rgba(127, 127, 127, 0.3);
	border: 0;
	color: white;

	cursor: pointer;
}

.carousel--left {
	position: absolute;
	left: 20px;
}

.carousel--right {
	position: absolute;
	right: 20px;
}

.carousel-nav {
	display: flex;
	justify-content: center;
	padding: 10px 0;
	align-items: center;
}

.carousel-indicator {
	border: 0;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.25);
	margin: 0 8px;
}

.carousel-indicator.current-slide {
	background-color: rgba(255, 255, 255, 0.5);
}

.is-hidden {display: none;}
